*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* styling sections */
section{
    height: 100vh;
    position: relative;
}
#red-section{
    background-color: red;
}
#green-section{
    background-color: green;
}
#yellow-section{
    background-color: yellow;
}
/* styling image */
img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* styling text */
span{
    color: yellow;
    font-size: 65px;
    font-weight: bold;
}
.text{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.green{
    color: green;
}
.text-2{
    position: absolute;
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* styling navbar */
ul{
    list-style: none;
    position: absolute;
    top: 30px;
    right: 30px;
}
li{
    display: inline;
    background-color: white;
    padding: 20px 23px;
    border-radius: 50%;
    text-align: center;
    font-weight: bold;
    margin-left: 30px;
}
